.Create{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
    background-color: #e69f10;
}.Create > section{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: 400px;
    height: 600px;
    color: aliceblue;
}.Create section>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
   
}.Create section form > input {
width: 300px;
height: 40px;
margin: 20px;

}.icon1{
    border-radius: 50%;
    font-size: 30px;
    background-color:rgb(57, 100, 241);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-right: 10px;
}.icon2{
    border-radius: 50%;
    font-size: 30px;
    background-color:rgb(250, 0, 0);
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding: 5px;
    
}.icon3{
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    background-color:rgb(153, 1, 143);
    color: rgb(255, 255, 255);
    margin-right: 10px;
    width: 40px;

}.icon4{
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    background-color:rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    margin-right: 10px;
   
    
    width: 40px;
}section div >button{
    border-radius: 50%;
    margin-right: 30px;
    width: 20px;
    height: 2px;
    text-decoration: none;
    background-color: black;

    

}section form >button{

    text-decoration: none;
    padding: 15px;  
    width: 150px;
    cursor: pointer;
    background-color: #e69f10;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}section form >button:hover{

    transform: scale(1.1);
}